body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
}

#content-div{
  display: flex;
}

#header{
  display: flex;
  height: 150px;
  color: red;
  border-bottom: black solid 1px;
}

#nav{
  min-width: 10%;
  border-right: black solid 1px;
  min-height: 100%;
  margin-right: 2%;
  margin-left: 2%;
  padding-top: 2%;
}

#logo{
  max-width: 20%;
}

.eachItem .all-view-title{
  text-align: center;
}

.allItemList{
  display: flex;
  flex-wrap: wrap;
}

#new-item-form{
  display: flex;
}

#uploaded-image-preview{
  margin-top: 20%;
  margin-left: 30%;
  height: 300px;
  width: 300px;
  border: black solid 1px;
}

#preview{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#logo{
  width: 15%;
  font-size: 200%;
  text-align: center;
  color: black;
  margin-top: 5%;
}

#hello{
  margin-top: 8%;
  color: black;
  size: 110%;
}

#header-text{
  text-align: center;
}