body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

#content-div{
  display: flex;
}

#header{
  display: flex;
  min-height: 150px;
  color: red;
}

#nav{
  min-width: 10%;
}

#logo{
  max-width: 20%;
}

.eachItem .all-view-title{
  text-align: center;
}

.allItemList{
  display: flex;
  flex-wrap: wrap;
}

#new-item-form{
  display: flex;
}

#uploaded-image-preview{
  margin-top: 20%;
  margin-left: 30%;
  height: 300px;
  width: 300px;
  border: black solid 1px;
}

#preview{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

