$dark: black;
$light: white;
$bright: #8080ff;
$splash: #fa761e;
$pastel: #f2f2f2;
$highlight: #ffe600;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vh;
}

#root{
  min-height: 100vh;
  min-width: 100vh;
}

#main-div{
  min-height: 100vh;
  min-width: 100vh;
}

#content-div{
  display: flex;
  background-color: $pastel;
  min-height: 100vh;
  min-width: 100vh;
  padding-left: 255px;
}

/* #unauth-nav{
  width: 100%;
  height: 100%;

}

#auth-nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

.new-item{
  margin-top: 20%;
  margin-bottom: 20%;
}

.new-item-button{
  border: $dark solid 1px;
  background-color: $dark;
  margin-bottom: 2%;
  color: white;
  font-size: 120%;
}

.new-item-button:hover{
  color: $highlight;
}

/* #logout-form{
  .button{
    border: $dark solid 1px;
    font-size: 120%;
    background-color: $dark;
    color: $light;
  }
  .button:hover{
    color: $highlight;
  }
} */

#unauth-links{
  width: 100%;
}

.eachItem{
  background-color: $light;
}

.itemStatusList{
  display: flex;
  justify-content: space-around;
  .eachItem{
    border: black solid 1px;
    height: 350px;
    width: 300px;
    margin-top: 2%;
    text-align: center;
  }
}

.detail-view-title{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.detail-view-details{
  width: 50%;
  margin-left: 2%;

}

.hip-hip{
  color: white;
}

#header{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 250px;
  min-width: 100vh;
  color: $light;
  background-color: $dark;
  border-bottom: $dark solid 1px;
  p{
    color: $bright;
  }
}

#header img{
  margin-left: 30%;
}


.allItemList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.allItemList{
  .all-view-title{
    text-align: center;
  }
}

.allItemList{
  .eachItem{
    border: black solid 1px;
    height: 350px;
    width: 300px;
    margin-top: 2%;
  }
}

.img-container-small{
  margin: auto;
}

.dashboard-view{
  width: 100%;
}

#settings-form{
  margin-top: 5%;
  margin-left: 5%;
  width: 400px;
  display: flex;
  justify-content: space-between;
  button{
    height: 30px;
  }
}

.dashboard-view{
  .detail-view{
    display: flex;
    align-items: center;
  }
}

.detail-view{
  display: flex;
  align-items: center;
}

.single-item{
  .detail-view{
    display: flex;
    align-items: center;
  }
}


.single-item{
  width: 100%;
}

#new-item-form{
  display: flex;
}

#uploaded-image-preview{
  margin-top: 20%;
  margin-left: 30%;
  height: 300px;
  width: 300px;
  border: black solid 1px;
}

#preview{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#logo{
  height: 130px;
  width: 250px;
  font-size: 150%;
  color: $splash;
}

.img-container-large{
  width: 70%;
}

.submit-changes-button{
  margin-left: 15%;
}

.blank-space-div{
   height: 900px;
   width: 800px;
 }
 #edit-item-form{
   display: flex;
   justify-content: space-around;
 }

 #edit-item-form{
   .img-container-large{
      height: 200px;
     width: 200px;
     border: black solid 1px;
   }
 }

 .back-to-list{
   text-align: left;
   margin-top: 2%;
   margin-bottom: 4%;
 }

.fullsize {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.edit-delete-buttons{
  display: flex;
  justify-content: space-around;
}

.img-container-small{
  height: 200px;
  width: 200px;

}

.thumbnail{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#hello{
  display: flex;
  align-items: flex-end;
  size: 110%;
  min-width: 100px;
}
.login-btn {
  width:200px;
  height:60px;
  cursor:pointer;
  perspective:500px;
  -webkit-perspective:500px;
  padding-right: 20px;
}

.login-btn:hover .login-btn2{
  transform:rotateX(-90deg);
}

.login-span{
  width:100%;height:100%;
  position:absolute;
  box-sizing:border-box;
  border:5px solid #fff;
  font-family:'Source Sans Pro',
  sans-serif;line-height:50px;
  font-size:17pt;
  text-align:center;
  text-transform:uppercase;
}
.login-span:nth-child(1){
  color:#fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
.login-span:nth-child(2){
  color: black;
  background: #fa761e;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);}

.login-btn2{
  height:100%;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transition:0.25s;
  -webkit-transition:0.25s;}

#header-text{
  text-align: center;
}

#header-text h2{
  display: none;
}

.button {
  font-size: 110%;
  background-color: $bright;
  color: $light;
}

.edit-image{
  display: flex;
  justify-content: center;
}

.delete-button{
  button{
    font-size: 120%;
    border: $splash 1px solid;
    background-color: $splash;
    color: $light;
  }
  button:hover{
    background-color: $light;
    color: $splash;
  }
}

.button:hover{
  border: $bright 1px solid;
  background-color: $light;
  color: $bright;
  cursor: pointer;
}

button {
  font-size: 110%;
  border: $bright 1px solid;
  background-color: $bright;
  color: white;
}

button:hover {
  background-color: white;
  color: $bright;
  cursor: pointer;
}

.all-view-title span:hover {
  cursor: pointer;
  color: $splash;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}

.all-view-details{
  text-align: center;
}



a{
  text-decoration: none;
  color: $dark;
  font-size: 120%;
}

a:hover{
  color: $light;
}

@media screen and (min-width: 480px){

  #header{
    font-size: 80%;
    height: 150px;
    img{
      margin-left: 0%;
    }
  }

  #header{
    display: flex;
  }

}

@media screen and (min-width: 1000px){

  #header{
    font-size: 95%;
  }

  #header-text h2{
    display: inline-block;
  }

 /*  #nav{
    min-width: 12%; }*/


}

.Header_root {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15em;
  font-size: 1.1em;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.header_trans {
  color: white;
  font-size: 1.5em;
  font-family:'Source Sans Pro';
  margin-left:20px;
}

h1{
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: white;
}
.childrenImg {
  background-size: cover;
  height: 500px;
  width: 300px;
  z-index: 0;
}

/* #nav{
  min-width: 80px;
  min-height: 100vh;
  background-color: #d5d5d5;
  min-height: 100%;
  margin-right: 2%;
  padding-top: 2%;
}
 */


.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#fbfbfb;
border-right:1px solid #e5e5e5;
position:fixed;
top:302px;
height:40%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:$splash;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

